@import "tailwindcss";
@import "tw-animate-css";
/*   ---break--- */
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E6321E;
  --secondary: #263967;
  --site-blue: #263967;
  --gray: #595959;
  --gray-lit: #cccccc;
  --graybg: #EFEFEF;
  --graytext: #595959;
  --EFEFEF: #EFEFEF;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-host-grotesk);
  /*   --font-mono: var(--font-font-host-grotesk); */
  --color-primary: var(--primary);
  --color-site-blue: var(--site-blue);
  --color-gray: var(--gray);
  --color-graybg: var(--graybg);

  --color-secondary: var(--secondary);
  --color-graytext: var(--graytext);
  --color-EFEFEF: var(--EFEFEF);
  --color-graylit: var(--gray-lit);
  --breakpoint-3xl: 103.125rem;

  --leading-tight: 1;
  --leading-base:1.526315789473684;

  /* font size */

  --text-5xl: clamp(2.5rem, 5vw, 96px);
  /*96px */
  --text-2xl: clamp(2.5rem, 5vw, 3.75rem);
  /* 50px */
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem);
  /* 32px */
  --text-lg: clamp(1.5rem, 3vw, 1.875rem);
  /* 30px */
  --text-sm: clamp(0.9rem, 2vw, 1rem);
  /* 16px */
  --text-xs: clamp(0.875rem, 1.8vw, 10px);
  /* 10px */

  --text-65: clamp(2.5rem, 5vw, 65px);
  /* 65px */
  --text-60: clamp(2.5rem, 5vw, 60px);
  /* 60px */
  --text-50: clamp(2.2rem, 5vw, 50px);
  /* 50px */
  --text-40: clamp(1.8rem, 5vw, 40px);
  /*40px */
  --text-32: clamp(1.7rem, 4.5vw, 32px);
  /* 32px */
  --text-30: clamp(1.6rem, 4.5vw, 30px);
  /* 30px */
  --text-19: clamp(1.2rem, 1.8vw, 19px);
  /* 19px */
  --text-17: clamp(1rem, 1.8vw, 17px);
  /* 17px */
  --text-15: clamp(0.875rem, 1.8vw, 15px);
  /* 15px */

  /* font size end*/



  /* --breakpoint-2xl: 101.875rem; */
  /* --breakpoint-3xl: 100.9375rem; */
  /*1615px*/

  --container-2xl: 100.9375rem;
  /* 1615px */

  /* spacing */

  --spacing-42: clamp(2em, 2vw + 1em, 42px);
  --spacing-66: clamp(2.5em, 2vw + 2em, 66px);
  --spacing-70: clamp(3em, 2vw + 2.5em, 70px);
  --spacing-75: clamp(3.5em, 2vw + 3em, 75px);
  --spacing-80: clamp(4em, 2vw + 3.5em, 80px);

  /* spacing end */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: var(--color-graytext);
  }
}

body {
  font-family: "Host Grotesk", sans-serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: var(--text-19);
}

.container {
  @apply px-[15px] mx-auto;

}

.section-spacing {
  @apply py-[60px] lg:py-[90px] xl:py-[100px] 2xl:py-[120px];
}

.left-spacing {
  @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-79rem)/2)] 3xl:pl-[calc((100%-101.25rem)/2)];
}

.header-container-padding {
  padding-top: 113px;
  padding-bottom: 22px;
}

.form-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.slideroverlay::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 6.25%, #000000 100%);
}

.sebder:nth-last-child(1) .spb {
  border-bottom: none !important;
}

.ulsmn li {
  line-height: 2.2;
  position: relative;
}

.ulsmn li::before {
  content: url('/assets/img/icons/grayarrow.svg');
  position: absolute;
  left: -20px;
  top: 0;
}

.swiper-slide-active {
  position: relative
}

.trst {
  display: none;
}
@media only screen and (min-width: 768px) {

.curslider .swiper-slide-active {
  width: 35% !important;

}

.curslider .swiper-slide-active .mnsuy {
  border-bottom-left-radius: 200px !important;

}

.curslider .swiper-slide-active .mnsuy img {
  border-bottom-left-radius: 200px !important;
}

.curslider .swiper-slide-active .trst {
  display: flex;
}
}
.bg-siteaftr::before{content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    background: #263967;
    z-index: -1;
    left: -189px;
    top: 0;}